<?xml version="1.0" encoding="utf-8" ?>
<uexplugins>
    <plugin name="uexXunfei">
        <method name="init"></method>
        <method name="initSpeaker"></method>
        <method name="startSpeaking"></method>
        <method name="stopSpeaking"></method>
        <method name="pauseSpeaking"></method>
        <method name="resumeSpeaking"></method>
        
        <method name="initRecognizer"></method>
        <method name="startListening"></method>
        <method name="stopListening"></method>
        <method name="cancelListening"></method>
        
    </plugin>
    
    
</uexplugins>
